@charset "UTF-8";
.fileAddDeleteForm{
	position : fixed;
	left : 300px;
	margin : 20px;
	padding : 10px;
}
.fileList{
	position : fixed;
	left : 300px;
	top : 160px;
	margin : 20px;
	padding : 10px;
}
.fileList img{
	width : 100px;
	height : 100px;
}