@charset "UTF-8";
.wrap{
	position : fixed;
	left : 300px;
	margin : 90px 20px;
	width : 1300px;
	height : 100%;
	overflow : auto;
	display : grid;
	grid-template-rows : 300px 250px; 
	grid-gap : 50px;
}
.userForm{
	position : fixed;
	left : 300px;
	margin : 20px;
	background-color : #fff;
	z-index : 10;
	width : 1200px;
	height : 50px;
	border-radius : 10px;
	display : flex;
}
.userForm .btn{
	justify-content : center;
	margin : 6px;
}
.userForm .form-select{
	justify-content : center;
	margin : 10px 30px;
}
.searchForm{
	display : flex;
	width : 700px;
}
.searchForm .form-group{
	justify-content : center;
	width : 600px;
	margin : 5px;
}
.searchForm .btn{
	position : absolute;
	right : 35%;
	top : 0;
	padding : 5px 10px;
}
.progress {
    width: 180px;
    height: 180px;
    background: none;
    position: relative;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}

body {
   	background-color : #077867;
}

.rounded-lg {
    border-radius: 1rem;
}

.text-gray {
    color: #aaa;
}

div.h4 {
    line-height: 1rem;
}

h1 {
    color: black;
}
.btn-primary{
	margin : 10px 20px;	
}
.grid1{
	width : 1650px;
}
.grid2{
	display : flex;
	flex-wrap : wrap;
	background-color : #fff;
	overflow : auto;
	width : 1200px;
}
.grid2 > div{
	justify-content : center;
	flex : 0 0 100px;
	padding : 10px 20px;
	margin : 10px 16px;
	width : 200px;
	height : 220px;
	border : 1px solid #000;
	border-radius : 10px;
}
.grid2 img{
	width : 160px;
	height : 100px;
}
.grid2 a{
	display : block;
	text-overflow : ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.fileList{
	position : fixed;
	left : 300px;
	margin : 0px 5.8px;
	width : 1230px;
	height : 100%;
	display : flex;
	overflow : auto;
	flex-wrap : wrap;
	background-color : #fff;
}
.fileList > div{
	justify-content : center;
	flex : 0 1 100px;
	padding : 10px 30px;
	margin : 10px 20px;
	width : 200px;
	height : 280px;
	border : 1px solid #000;
	border-radius : 10px;
}

.fileList > div img{
	width : 160px;
	height : 100px;
}
.fileList > div .btn{
	margin : 2px 0px;
}
.fileName{
	display : block;
	text-overflow : ellipsis;
	white-space: nowrap;
	overflow: hidden;
}