<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.porforio.user.mapper.UserMapper">
	<insert id="insert">
		insert into user(id, password, name, email, tel, regdate) 
			values(#{id},#{password},#{name},#{email},#{tel},now())
	</insert>
	
	<insert id="insertAuth">
		insert into user_auth(id, auth) values(#{id},#{auth})
	</insert>
	
	<select id="findingId" resultType="string">
		select id from user where email = #{email} and tel = #{tel} and name = #{name}
	</select>
</mapper>