<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.porforio.mapper.FileUpDownLoadMapper">
	
	<!-- 2021.08.13 파일 목록 가져오기 -->
	<select id="getFileList" resultType="com.cloud.porforio.domain.FileDTO">
		select * from file where deleteyn='N' and id = #{id}
	</select>
	
	<!-- 2021.08.14 파일 다운로드하기 위해 파일 정보 가져오기 -->
	<select id="selectFile" resultType="com.cloud.porforio.domain.FileDTO">
		select * from file where fno = #{fno}
	</select>	
	
	<!-- 2021.08.14 휴지통 파일 목록 보여주기 -->
	<select id="getDeleteYNYFileList" resultType="com.cloud.porforio.domain.FileDTO">
		select * from file where id = #{id} and deleteyn = 'Y'
	</select>
	
	<!-- 2021.08.19 업로드한 파일과 db 파일 중복 여부를 비교하기 위해 파일명 목록 가져오기 -->
	<select id="getFileNameList" resultType="string">
		select originalfilename from file where deleteyn = 'N'
	</select>
	
	<!-- 2021.08.19 권한에 따라 각각 페이지를 리다이렉트하기 위해 사용자 권한 가져오기 -->
	<select id="selectUserAuth" resultType="string">
		select auth from user_auth where id = #{id} 
	</select>
	
	<!-- 2021.08.24 파일 검색 기능 구현 -->
	<select id="getKeyWordFileList" resultType="com.cloud.porforio.domain.FileDTO">
		select * from file where originalfilename like concat('%',#{keyword},'%') and deleteyn = 'N'
	</select>
	
	<!-- 2021.08.25 파일 크기 리스트 구하기 -->
	<select id="getFileSize" resultType="int">
		select filesize from file where id = #{id}
	</select>
	
	<!-- 2021.08.25 아이디가 해당 파일에 존재하는지 유효성 검사하기 위해 아이디 검색 -->
	<select id="getUploadUserList" resultType="string">
		select distinct id from file where originalfilename = #{originalfilename} and deleteyn = 'N'
	</select>
	
	<!-- 2021.08.08 파일 업로드 -->
	<insert id="fileUpLoadProcess" parameterType="com.cloud.porforio.domain.FileDTO">
		insert into file(id, originalfilename, storedfilepath, filesize, regdate) values
		<foreach collection="list" item="item" separator=",">
			(#{item.id}, #{item.originalFileName}, #{item.storedFilePath}, #{item.fileSize}, now())
		</foreach>
	</insert>
	
	<!-- 2021.08.14 휴지통 페이지로 이동을 위한 deleteYN='Y'로 변경 -->
	<update id="deleteYNUpdateFile">
		update file
		   set deleteYN = 'Y'
		 where fno = #{fno}
	</update>
	
	<!-- 2021.08.14 파일 복구 -->
	<update id="restoreFile">
		update file
		   set deleteYN = 'N'
		 where fno = #{fno}
	</update>
	
	<!-- 2021.08.14 휴지통 비우기 -->
	<delete id="deleteEmptyTrash">
		delete from file
		 where fno = #{fno}
	</delete>
</mapper>